<!-- <p>{{ todoItems()[0].title }}</p> -->
 <!-- Using Angular built in control flow -->
  
 <!-- /loop for the array -->
  <!-- When use the for loop
   we also tack and we track on the basis of
   what is unique among all these items 
   in our service uniqueness is the ID every to-do item has to have a unique ID

    @for(todo of todoItems(); track $index){
  <p>{{ todo.title }}</p>
 }
   -->
 <!-- improve performance using the for loop -->

 <!-- @for(todo of todoItems(); track todo.id){
  <p>{{ todo.title }}</p>
 } -->

 <h3>Todos List </h3>

 <!-- Loading the data form API  show some loading text for-->
  <!-- If their is no items in the list is empty than show loading-->
 <!-- <p *ngIf="!todoItems().length">Loading ....</p> -->

 @if(!todoItems().length){
  <p>Loading ..</p>
 }


 <form >
   <label>Filter Todos</label>

  <input 
        name ="searchTerm" 
        [(ngModel)] = "searchTerm"
        placeholder="Search todos..." />
 </form>

 <ul class ="todos">
  @for (todo of todoItems()| filterTodos: searchTerm();track todo.id) {
    <!-- <li class = "todos_item">
       <input id="todo-{{ todo.id }}" type="checkbox" [value] ="todo.completed"/>
       <label for="todo-{{ todo.id }}">{{ todo.title }}</label>     
    </li> -->
    <!-- I want to update the to-do in my todo items array  this is that if anything changes in the 
     todo item it has to notify the parent component to-dos and the todos will update the array 
     . when it Update the array which are being rendered automatically update in the particular case -->
    <app-todo-item (todoToggled)="updateTodoItem($event)" [todo] ="todo"/>

  }
 </ul>
